body {
    background-color:aliceblue;
}

h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;

    font-weight: 700;
    text-decoration: underline;
    color: darkblue;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-weight: 700;
    color: darkcyan;

    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;

    color: blue;
    text-align: center;
}

.story-box {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.logo {
    background-size: cover;
    background-image: url("logo-emblem-black-1000.png");
    background-color:   aliceblue;
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
